/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: cornflowerblue;
    text-align: center;
    padding: 1% 1.5%;
    text-decoration: none;
    font-size: 150%;
    font-weight: 600;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: cornflowerblue;
    text-decoration: underline;
    text-decoration-style: wavy;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(18, 34, 65);
    text-decoration: underline;
    text-decoration-style: wavy;
  }